.MainHeader {
    display: flex;
}
.NavWrapper {
    display: flex;
    align-items: center;
    width: 360px;
    padding: 0 20px;
    background-color: white;box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    /*border-bottom: 2px solid rgb(0, 188, 212);*/
}
.ShowFilter{
    width: 250px;
}
.PageSearch input {
    height: 24px;
}