.CategoryItem {
    display: flex;
    flex-wrap: wrap;
    min-height: 40px;
}
.CategoryItem .CategoryItem {
    margin-left: 20px;
}
.CategoryItemLine {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px 5px 0;
}
.CategoryItemPanel{
    position: relative;
    display: flex;
    align-items: center;
}
.CategoryItemDropdown {
    position: absolute;
    left: 0;
}
.CategoryItemTitle{
    display: flex;
    align-items: center;
    margin:0 10px;
    flex-grow: 1;
}
.CategoryItemTitle--hasSub{
    margin:0 10px 0 40px;
    flex-grow: 1;
}
.CategoryItemTitle a {
    text-decoration: none;
    color: inherit;
}
.CategoryItemTitle a.selected {
    color: #00BCD4;
}
.CategoryItemButton {
    margin:0 4px;
}
.not-selectable{
    pointer-events: none;
}
.CategoryItemTitle .currentCategory + .CategoryItemMoveTo {
    display: none;
}
