.CategoryList {
    list-style: none;
    max-height: 60vh;
    overflow-y: scroll;
    box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 6px, rgba(0, 0, 0, 0.117647) 0 1px 4px;
    padding: 15px;
    margin: 0 10px;
}
.CategoryList .CategoryList {
    padding: 5px 5px 5px 0;
}
.CategoryList:empty{
    display: none;
}